/* 🔹 Padding en el Panel */
.xfce4-panel {
    background-color: rgba(35, 33, 54, 0.8); 
}

#actions-button {
    padding: 12px;
    font-weight: 700;
    background-color: #eb6f92;
    color: #fff;
}

#xfce-panel-toggle-button:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
}

#xfce-panel-toggle-button:nth-child(2),
#xfce-panel-toggle-button:nth-child(3) {
    font-size: 16px;
    font-weight: 700;
}

#xfce-panel-toggle-button:nth-child(4) {
    font-size: 16px;
    font-weight: 700;
}

#xfce-panel-toggle-button:checked,
#xfce-panel-toggle-button:hover {
    color: #eb6f92;
    font-weight: 700;
}

.tasklist button {
    padding: 10px;
    border-radius: 5px;
}