/* 🔹 Padding en el Panel */
.xfce4-panel {
    background-color: rgb(22, 21, 21);
}

#actions-button {
    padding: 12px;
    font-weight: 700;
    background-color: rgb(236, 86, 211);;
}

#xfce-panel-toggle-button:nth-child(1) {
    font-size: 16px;
    font-weight: 700;
}

#xfce-panel-toggle-button:nth-child(2),
#xfce-panel-toggle-button:nth-child(3) {
    font-size: 16px;
    font-weight: 700;
}

#xfce-panel-toggle-button:nth-child(4) {
    font-size: 16px;
    font-weight: 700;
}

#xfce-panel-toggle-button:checked,
#xfce-panel-toggle-button:hover {
    color: rgb(236, 86, 211);
    font-weight: 700;
}

.tasklist button {
    padding: 10px;
    border-radius: 5px;
}